body, div {
    padding: 0;
    margin: 0;
    border: 0.1px solid #11ff3d;
}
/*开始层*/
#start {
    position: absolute;
    background-image: url("image/start.jpg");
    background-position: 50%;
    text-align: center;
    animation: start1 1s;
    animation-fill-mode: forwards;
}
#sword{
    color: white;
    font-size: 40px;
    animation: start2 1s;
    animation-fill-mode: forwards;
}

/*动画*/
@keyframes start1{
    from{
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    to{
        left: 5%;
        top: 5%;
        width: 90%;
        height: 90%;
    }
}
@keyframes start2{
    from{
        margin-top: 22%;
    }
    to{
        margin-top: 25%;
    }
}