/*全局*/
body {
    margin: 10px;
    background-color: rgba(239, 241, 245, 0.6);
}
a{
    text-decoration: none;
    color: #41C2FF;
}
li{
    list-style-type: none;
}
time{
    color: #999999;
}
/*主页*/
#menu-outer {
    /*菜单*/
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 26px;
    background-image: url("/img.jpg");
    border: #bbbbbb solid 1px;
    background-size: 100%;
}
#menu-outer a{
    display: block;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    padding: 13px 0 0 0;
}
.meun-inner-div {
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    opacity: 0;
    background-color: #eaeccd;
}

#meun-inner-dev1 {
    transition: opacity 500ms,right 300ms;
}

#menu-outer:hover #meun-inner-dev1 {
    opacity: 1;
    right: 82px;
}

#meun-inner-dev2{
    transition: opacity 500ms,right 300ms,bottom,300ms;
}

#menu-outer:hover #meun-inner-dev2 {
    opacity: 1;
    bottom: 72px;
}
#bottom-outer {
    /*页尾*/
}