html {
  height: 100%;
}
body {
  height: 100%;
  background: url("/back.jpg") no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: #e5e5e5;
}
#bodyBg {
  height: 100%;
  width: 100%;
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.4);
}
#Tbody {
  position: absolute;
  width: 100%;
  z-index: 1;
  padding-top: 49px;
  padding-bottom: 65px;
}
#menu-inner {
  padding: 0 10px;
}
#menu-nav {
  background-color: rgba(51,51,51,0.8);
  border: 0;
}
.navbar-default .navbar-nav>li>a {
  color: #e5e5e5;
}
.navbar-default .navbar-brand {
  color: #e5e5e5;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #8e8d8d;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #8e8d8d;
}
a {
  color: #ddea4b;
  cursor: pointer;
}
h2 {
  padding-top: 2%;
}
.recent-post-item {
  padding-left: 4%;
  padding-top: 2%;
}
.recent-post-item>a {
  font-size: larger;
}
#col-9 {
  padding-left: 9%;
}
#recent-posts {
  font-size: large;
}
#pagination {
  text-align: right;
}
#content-outer {
  padding: 0 12%;
}
#bottom-outer {
  background-color: rgba(51,51,51,0.6);
  height: 60px;
}
#bottom-inner {
  text-align: left;
  font-size: small;
}
#bottom-img {
  position: absolute;
  left: 8px;
  top: 6px;
}
#bottom-p {
  position: absolute;
  left: 67px;
  top: 23px;
}
